@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100;300;500&family=DM+Mono:wght@300;500&display=swap');

*{
	margin: 0;
	padding: 0;
}

body{
	background: url('../img/city1.jpg');
	background-size: cover;
	background-position: center;

}

main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	border: 1px solid white;
}

.title{
	color: white;
	margin: 10px;
	letter-spacing: 4px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: bold;
	opacity: 0.9;
	padding: 10px;
	font-size: 70px;
}

#clock-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	width: 400px;
	height: 100px;
}

#clock-container span{
	font-size: 45px;
	padding: 5px;
}

.clock{
	margin: 0 5px;
	background-color: #e91e63;
	opacity: 0.8;
	height: 80px;
	width: 100px;
}

.text{
	background-color: #f44336;
	padding: 10px;
	letter-spacing: 2px;
}

.ampm{
	margin-top: 70px;
	padding: 5px 10px;
	width: 30px;
	height: 20px;
	background-color: #ff9800;
	opacity: 0.8;
	text-transform: uppercase;
	font-weight: bold;
}

#smart-clock{
	font-family: 'Nova Mono', monospace;
	text-align: center;
	background-color: #e91e63;
	margin-top: 35px;
	padding: 15px;
	border-radius: 20px;
	font-weight: bold;
	font-size: 20px;
	color: white;
}

.hide{
	display: none;
}

