body{
	margin: 0;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.btn{
	background-color: green;
	padding: 20px 40px;
	color: white;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	position: relative;
	overflow: hidden;
}

.btn::before{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	background-color: orangered;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	transition: width 0.5s, height 0.5s;
	left: var(--xPos);
	top: var(--yPos)
}

.btn:hover::before{
	width: 300px;
	height: 300px;
}

.btn span{
	position: relative;
	z-index: 1;
}